---
import Moon from "../icons/moon.astro";
import Sun from "../icons/sun.astro";
import System from "../icons/system.astro";
---

<ul class="menu ">
   
    <li class="mt-2">
       <Sun  width={30} height={30}/>
        <ul class="bg-[#FC9A3B] text-white rounded-lg py-1 -ml-24  dark:bg-zinc-700">
            
            <li id="btn-light" class="flex items-center py-1 px-3 hover:bg-[#FA7C15] cursor-pointer gap-2 dark:hover:bg-zinc-600">
               <Sun width={24}height={24}/>
                <p>Claro</p>
            </li>

            <li id="btn-dark" class="flex item-center py-1 px-3 hover:bg-[#FA7C15] cursor-pointer gap-2 dark:hover:bg-zinc-600">
                <Moon width={24} height={24}/>
                <p>Oscuro</p>
            </li>
            <li id="btn-system" class="flex item-center py-1 px-3 hover:bg-[#FA7C15] cursor-pointer gap-2 dark:hover:bg-zinc-600">
                <System width={24} height={24}/>
                <p class="mr-5">Sistema</p>
            </li>
            
        </ul>
    </li>
  
</ul>

<style>
    /* Estilo básico para el menú */
    .menu > li {
        position: relative;
        display: inline-block;  
    }
    .menu > li > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        list-style-type: none;      
    } 
    /* Mostrar el submenú cuando se hace hover sobre el elemento padre */
    .menu > li:hover > ul {
        display: block;
    }
</style>

<script>
    document.addEventListener('click', (event) => {
        if(event.target && ((event.target as Element).matches("#btn-dark") || (event.target as Element).matches('#btn-dark *'))){
            localStorage.setItem('theme', 'dark');
            document.documentElement.classList.add('dark');
        }
        if(event.target && ((event.target as Element).matches("#btn-light") || (event.target as Element).matches('#btn-light *'))){
            localStorage.setItem('theme', 'light');
            document.documentElement.classList.remove('dark');
        }
        if(event.target && ((event.target as Element).matches("#btn-system") || (event.target as Element).matches('#btn-system *'))){
            localStorage.setItem('theme', 'system');
            
            const systemTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

            if(systemTheme === 'dark'){
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        }
    })
</script>