---
import ChangeTheme from "./ChangeTheme.astro";
---

<header class="flex justify-between text-white p-4 fixed w-full bg-transparent">

    <section class="flex items-center bg-gradient-to-tl to-[#C3480B] from-[#E75F0B] py-4 px-10 rounded-lg gap-10">

        <h1 class="font-bold text-2xl">NextStep</h1>
        <nav>
            <ul class="flex items-center gap-6 text-base ml-4
            font-mediuma">
            <li><a href="/">Inicio</a></li>
            <li><a href="/trabajo">Trabajo</a></li>
            <li><a href="/trabajadores">Trabajadores</a></li>
            <li><a href="/empresas">Empresas</a></li>
            </ul>
        </nav> 
    </section>
    <section class="flex items-center bg-gradient-to-tl to-[#C3480B] from-[#E75F0B] py-4 px-6 gap-5 rounded-lg justify-center">
        <ChangeTheme />
        <button class="bg-white rounded-lg text-[#E75F0B] font-semibold px-5 py-1">Iniciar</button>
    </section>  
</header>