---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <h1 class="text-red-500">Hola mundo</h1>
  <Card text='Hola mundo des la card' />
  <Card text='Adios mundo des la card' />
</Layout>

<script>
</script>
<style>
  .event{}
</style>